
{% extends "model_form_base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Contact form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>

      </div>
        <form  id="upload-form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <div id="alert-box" class="text-center mt-3"></div>

          <div id="progress-box" class="not-visible">progress</div>
          <button id="sent-data" type="submit">Upload</button>

          <div id="spinner-box" class="text-center mt-3">
            <div class="spinner-border text-primary" role="status"></div>
          </div>
          <div id="data-box" class="text-center mt-3"></div>

        </form>

    </div>
  </body>
</html>

{% endblock content %}

